#logo {width: 11px; height: auto;}
#menu {padding: 0%;}
#titulo1 {padding: 80px 0% 20px 0%; text-align: center;}
#serifada {font-family: 'Ovo', serif;}
#textoPost {text-align: justify;}
#btnLink {text-decoration: none;}